
/*-----Antonio-----*/

@font-face {
    font-family: Antonio;
    src: url('Antonio-Thin.ttf');
    font-weight: 200;
}


@font-face {
    font-family: Antonio;
    src: url('Antonio-Light.ttf');
    font-weight: 300;
}


@font-face {
    font-family: Antonio;
    src: url('Antonio-Regular.ttf');
    font-weight: 400;
}


@font-face {
    font-family: Antonio;
    src: url('Antonio-Medium.ttf');
    font-weight: 500;
}


@font-face {
    font-family: Antonio;
    src: url('Antonio-SemiBold.ttf');
    font-weight: 600;
}


@font-face {
    font-family: Antonio;
    src: url('Antonio-Bold.ttf');
    font-weight: 700;
}


@font-face {
    font-family: Antonio;
    src: url('Antonio-ExtraLight.ttf');
    font-weight: 800;
}



/*-----Moderna-----*/

@font-face {
    font-family: Moderna;
    src: url('MODERNA_.TTF');
}